h1,
h2,
h3 {
  text-align: center;
}
label {
  font-size: 12px;
  position: relative;
  left: 5px;
}
input {
  font-size: 14px;
}

h1 {
  font-size: 38px;
  color: #205279;
  font-weight: 600;
}
h2 {
  font-size: 31px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.692);
}
h3 {
  font-size: 18px;
  font-weight: 300;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 25px;
}
.btn {
  border: 1px solid rgba(0, 0, 0, 0.534);
  font-size: 11px;
}
.location-btn {
  border: 1px solid rgba(0, 0, 0, 0.534);
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 6px 7px;
  display: inline-block;
  margin-left: 310px;
}
.location-btn:hover {
  border: 1px solid rgba(255, 255, 255, 0);
}
.card-body {
  border: 3px solid #52b8f3d2;
  border-radius: 15px;
  width: 700px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  font-family: "Raleway", sans-serif;
}
.cDegree {
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.692);
  position: relative;
  top: -10px;
}
.card-city {
  border: 3px solid #205279c2;
  background-color: #dde8f6a8;
  width: 550px;
  display: block;
  margin: 0 auto;
}
.icon {
  width: 125px;
}
.card-range {
  background-color: #dff0f2be;
  border: 3px solid #81cfcaad;
  text-align: center;
  margin: 20px 20px;
  padding: 50px 20px 10px 85px;
  width: 650px;
}
.current-day {
  font-size: 12px;
  padding: 5px 0 0 5px;
}
.description {
  font-size: 14px;
  color: #205279c7;
}
.five-high,
.five-low {
  font-size: 14px;
}
.low-city {
  text-align: center;
  padding: 10px 0 30px 0;
  margin: 20px 20px 20px 20px;
}
.percipitation {
  font-size: 10px;
}
.five-day {
  position: relative;
  top: 20px;
  left: 28px;
}

.app-creator {
  margin-left: 70px;
  padding-left: 300px;
  text-align: start;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}
